config.py
/api/.idea
/api/__pycache__
/api/venv
/road-sign-recognition-scripts/myData
/road-sign-recognition-scripts/labels.csv
/road-sign-recognition-scripts/StopSignDataset
/road-sign-recognition-scripts/backup
/road-sign-recognition-scripts/testing
.idea
